:root {
  --white-color: #ffffff;
  --yellow-color: #ffca42;
  --blue-color: #b4c7e7;
  --black-color: #141414;
  --gray-color: #969aa0;
  --light-color: #f6f8fc;
  --background-color: #1b3764;
  --actions: #ffbd15;
  --another-bcg-color: #f5f8fc;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  font-family: inherit;
  cursor: pointer;
}

img {
  display: block;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--white-color);
  color: var(--gray-color);
}

/** ----------- HEADER------- */

.container {
  max-width: 1330px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: solid 1px red;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-soc-list {
  display: flex;
}

.header-soc-item:not(:last-child) {
  margin-right: 10px;
}

.header-nav-list {
  display: flex;
}

.header-nav-item:not(:last-child) {
  margin-right: 50px;
}

.header-logo {
  margin-right: 35px;
}

.header-navigation {
  margin-right: 39px;
}

.header-soc-list {
  margin-right: 260px;
}

.header {
  background-color: var(--background-color);
}

.header-logo-wrapper {
  display: flex;
  align-items: center;
}

.header-nav-link {
  color: var(--light-color);
  font-size: 17px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  padding: 43px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--yellow-color);
}

.header-btn {
  color: #1b3764;
  font-family: Cardo, sans-serif;
  font-size: 19px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  background-color: var(--yellow-color);
  border: 2px solid #ffca42;
  min-width: 222px;
  height: 66px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-btn:hover,
.header-btn:focus {
  background-color: var(--actions);
  border: none;
}

.header-soc-item {
  height: 45px;
  width: 45px;
  background-color: var(--white-color);
}

.header-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-soc-icon {
  fill: var(--black-color);
}

.header-soc-link:hover,
.header-soc-link:focus {
  background-color: var(--yellow-color);
}

.header-cart-link {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-cart-icon {
  margin-right: 51px;
}

.header-cart-link:hover,
.header-cart-link:focus {
  fill: var(--yellow-color);
}

/**-------- HERO----------*/

.hero {
  background-color: var(--background-color);
  padding: 100px 0;
}

.hero-container {
  display: flex;
  align-items: center;
}

.hero-subtitle::before {
  content: '';
  position: absolute;
  width: 35px;
  height: 2px;
  bottom: 50%;
  transform: translateX(-140%);
  background-color: var(--yellow-color);
}

.hero-subtitle {
  position: relative;
  color: var(--white-color);
  font-family: 'Cardo', serif;
  font-size: 21px;
  line-height: 1.71;
  letter-spacing: 0.06em;
  text-transform: capitalize;
  margin-bottom: 10px;
  margin-left: 49px;
}

.hero-title {
  color: var(--white-color);
  font-family: 'Cardo', serif;
  font-size: 64px;
  font-weight: 400;
  line-height: 1.22;
  letter-spacing: 0.02em;
  margin-bottom: 24px;
}

.hero-descr {
  color: var(--blue-color);
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 42px;
  max-width: 562px;
}

.hero-btn {
  color: var(--background-color);
  font-family: 'Cardo', serif;
  font-size: 19px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  border: 2px solid var(--yellow-color);
  background: var(--yellow-color);
  min-width: 222px;
  height: 66px;
  margin-right: 51px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--actions);
  border: none;
}

.hero-link {
  position: relative;
  color: var(--white-color);
  font-family: 'Cardo', serif;
  font-size: 19px;
  line-height: 1.6;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.hero-link:hover,
.hero-link:focus {
  color: var(--yellow-color);
}

.hero-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 152px;
  height: 1px;
  background-color: var(--white-color);
}

.hero-link:hover::after,
.hero-link:focus::after {
  background-color: var(--yellow-color);
}

.hero-list {
  display: flex;
  gap: 70px;
  margin-top: 47px;
}

.hero-text {
  color: var(--white-color);
  font-family: 'Cardo', serif;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 12px;
}

.hero-num {
  color: var(--blue-color);
  font-size: 17px;
  line-height: 1.6;
}

.hero-img {
  margin-left: 75px;
  box-shadow: -1px 2px 11px 0px rgba(0, 0, 0, 0.2);
}

.hero-item {
  position: relative;
  padding-left: 26px;
}

.hero-item::before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 20%;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: var(--yellow-color);
}

/**------------BOOK----------------*/

.book-section-title {
  position: relative;
  margin: 110px auto 0 auto;
  padding: 20px 0 23px;
  max-width: 370px;
  text-align: center;
  color: var(--background-color);
  font-family: 'Cardo', serif;
  font-size: 42px;
  font-weight: 400;
  line-height: 1.2;
  text-transform: capitalize;
}

.book-section-title::after {
  content: '';
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 3px;
  background-color: var(--yellow-color);
}

.book-section-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.book-section-item {
  display: flex;
  padding: 60px 10px 60px 10px;
  margin-bottom: 120px;
}

.book-section-description {
  margin-left: 30px;
}

.book-section-description {
  display: flex;
  width: 315px;
  height: 349px;
  padding-top: 5px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.book-section-subtitle {
  color: var(--background-color);
  font-family: 'Cardo', serif;
  font-size: 32px;
  line-height: 1.2;
  letter-spacing: 0.01;
  line-height: 1.2;
  font-weight: 400;
  margin-bottom: 8px;
}
.book-section-price {
  min-width: 129px;
  color: var(--yellow-color);
  font-size: 21px;
  line-height: 1.6;
}
.book-section-text {
  width: 287px;
  height: 86px;
  font-size: 19px;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 17px;
}

.book-section-type {
  position: relative;
  color: var(--background-color);
  font-family: 'Cardo', serif;
  font-size: 24px;
  line-height: 1.2;
  padding-left: 26px;
  margin-top: 13px;
}

.book-section-type::before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: var(--yellow-color);
}

.book-section-btn {
  min-width: 206px;
  height: 66px;
  border: 2px solid var(--yellow-color);
  background-color: transparent;
  color: var(--background-color);
  font-family: 'Cardo', serif;
  font-size: 19px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-top: 26px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.book-section-btn:hover,
.book-section-btn:focus {
  border-color: var(--background-color);
}

/**----------------AUTHOR---------------------*/

.author-section {
  background-color: var(--another-bcg-color);
  padding: 180px 0 140px 0;
}

.author-container {
  display: flex;
}

.author-img-box {
  position: relative;
  border: 10px solid var(--yellow-color);
  width: 525px;
  height: 620px;
}

.author-img {
  position: absolute;
  right: 50px;
  bottom: 50px;
}

.author-descriptions {
  margin-left: 150px;
}

.author-title {
  display: flex;
  flex-direction: column;
  color: var(--background-color);
  font-family: 'Cardo', serif;
  font-size: 42px;
  font-weight: 400;
  line-height: 1.2;
  text-transform: capitalize;
}

.author-title::after {
  display: block;
  content: '';
  margin-top: 23px;
  width: 50px;
  height: 3px;
  background-color: var(--yellow-color);
}

.author-text {
  color: var(--gray-color);
  font-size: 19px;
  line-height: 1.8;
  max-width: 559px;
  margin-top: 33px;
  margin-bottom: 33px;
}

.author-number {
  color: #1b3764;
  font-family: Cardo, serif;
  font-size: 54px;
  line-height: 1.43;
}

.author-info {
  color: #969aa0;
  font-size: 17px;
  line-height: 1.27;
}

.author-list {
  display: flex;
  gap: 68px;
  margin-bottom: 55px;
}

.author-item {
  position: relative;
}

.author-item:not(:first-child)::after {
  content: '';
  position: absolute;
  height: 98px;
  width: 1px;
  left: -37px;
  bottom: 0;
  background-color: var(--yellow-color);
}

.author-contact {
  display: flex;
  align-items: center;
  background-color: var(--background-color);
  padding: 15px 20px;
}

address {
  font-style: normal;
  margin-left: 40px;
}

.author-name {
  color: var(--yellow-color);
  font-family: Cardo, serif;
  font-size: 22px;
  line-height: 1.2;
  margin-bottom: 10px;
}

.contact-info {
  color: #b4c7e7;
  font-size: 18px;
  line-height: 1.58;
  letter-spacing: 0.01em;
}

.contact-item:not(:last-child) {
  margin-bottom: 4px;
}

/* -----------------TRUSTED--------------- */

.trusted-section {
  background-color: var(--white-color);
  padding: 126px 70px;
}

.trusted-section-title {
  position: relative;
  color: var(--background-color);
  text-align: center;
  font-family: Cardo;
  font-weight: 400;
  font-size: 42px;
  line-height: 1.2;
  text-transform: capitalize;
}

.trusted-section-title::after {
  content: '';
  position: absolute;
  bottom: -23px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 3px;
  background-color: var(--yellow-color);
}

.trusted-section-list {
  display: flex;
  margin-top: 76px;
  gap: 16px;
}

.trusted-section-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.trusted-section-img {
  display: block;
  margin-bottom: 22px;
  justify-content: center;
}

.trusted-section-subtitle {
  color: var(--background-color);
  text-align: center;
  font-family: Cardo;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 16px;
}

.trusted-section-text {
  color: var(--gray-color);
  text-align: center;
  font-family: Inter;
  font-size: 19px;
  font-weight: 400;
  line-height: 1.5;
  max-width: 304px;
}

/* ---------BOOK-COPY---------- */

.book-copy-section {
  background-color: var(--background-color);
  padding: 70px;
}

.book-copy-container {
  display: flex;
  align-items: flex-start;
}

.book-copy-img {
  margin-left: auto;
}

.book-copy-title {
  color: var(--white-color);
  font-family: Cardo;
  font-size: 45px;
  font-weight: 400;
  line-height: 1.2;
  text-transform: capitalize;
  margin-top: 71px;
  margin-bottom: 27px;
}

.book-copy-title::after {
  display: block;
  content: '';
  margin-top: 23px;
  width: 50px;
  height: 3px;
  background-color: var(--yellow-color);
}

.book-copy-text {
  max-width: 539px;
  color: var(--blue-color);
  font-family: Inter;
  font-size: 19px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 27px;
}

.book-copy-btn {
  max-width: 220px;
  padding: 19px 52px 18px 52px;
  height: 66px;
  color: #fff;
  font-family: Cardo;
  font-size: 19px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: var(--background-color);
  border: 2px solid var(--yellow-color);
}

.book-copy-btn:hover,
.book-copy-btn:focus {
  color: var(--yellow-color);
  border-color: var(--white-color);
}

/* ------------LEARN-------- */

.learn-section {
  padding: 126px 0 140px 0;
  background-color: var(--white-color);
}

.item-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.learn-section-title {
  position: relative;
  color: var(--background-color);
  text-align: center;
  font-family: Cardo;
  font-weight: 400;
  font-size: 42px;
  line-height: 1.2;
  text-transform: capitalize;
  margin-bottom: 127px;
}

.learn-section-title::after {
  content: '';
  position: absolute;
  bottom: -23px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 3px;
  background-color: var(--yellow-color);
}

.learn-section-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 30px;
  width: 630px;
}

.learn-section-item {
  width: calc((100% - 30px) / 2);
  max-width: 303px;
  height: 272px;
  padding: 30px 44px 61px 30px;
  background: #f4f8ff;
}

.learn-section-item span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--background-color);
  font-family: Cardo;
  font-size: 23px;
  font-weight: 400;
  line-height: 1.25;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  flex-shrink: 0;
  background-color: var(--yellow-color);
  margin-bottom: 30px;
}

.learn-section-text {
  color: var(--background-color);
  font-family: Cardo;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.4;
}

.img-box {
  position: relative;
  border: 10px solid var(--yellow-color);
  width: 535px;
  height: 632px;
  margin-left: auto;
  margin-top: 45px;
}

.learn-section-img {
  position: absolute;
  width: 535px;
  height: 632px;
  right: 40px;
  bottom: 40px;
}

/* --------KNOWLEDGE---------- */

.knowledge-section {
  padding: 116px 0 130px;
  background-color: #f4f8ff;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.knowledge-title {
  color: var(--background-color);
  text-align: center;
  font-family: Cardo;
  font-size: 42px;
  font-weight: 400;
  line-height: 1.2;
  text-transform: capitalize;
  position: relative;
  margin-bottom: 96px;
}

.knowledge-title::after {
  content: '';
  position: absolute;
  bottom: -23px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 3px;
  background-color: var(--yellow-color);
}

.knowledge-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 40px;
  column-gap: 30px;
  margin-bottom: 70px;
}
.knowledge-item {
  background-color: var(--white-color);
  width: calc((100% - 30px) / 2);
  padding-top: 42px;
  padding-left: 40px;
  padding-bottom: 44px;
}
.knowledge-subtitle {
  color: var(--background-color);
  font-family: Cardo;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 21px;
}
.knowledge-text {
  color: #969aa0;
  font-family: Inter;
  font-size: 19px;
  font-weight: 400;
  line-height: 1.7;
  margin-bottom: 12px;
  max-width: 536px;
}
.knowledge-size-list {
  display: flex;
}

.knowledge-pages-item {
  position: relative;
  margin-left: 20px;
  margin-right: 45px;
}

.knowledge-pages-item::before,
.knowledge-length-item::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: var(--yellow-color);
}

.knowledge-pages-text {
  color: #1b3764;
  font-family: Cardo;
  font-size: 22px;
  font-style: normal;
  line-height: 1.4;
}

.knowledge-pages-text span {
  color: #969aa0;
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  line-height: 1.59;
}

.knowledge-length-item {
  position: relative;
  margin-left: 20px;
}

.knowledge-length-text {
  color: #1b3764;
  font-family: Cardo;
  font-size: 22px;
  font-style: normal;
  line-height: 1.4;
}

.knowledge-length-text span {
  color: #969aa0;
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  line-height: 1.59;
}

.knowledge-btn {
  max-width: 429px;
  height: 76px;
  padding: 24px 92px 23px 92px;
  color: var(--background-color);
  background-color: var(--yellow-color);
  text-align: center;
  font-family: Cardo;
  font-size: 19px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  border: none;
  margin-bottom: 34px;
}

.knowledge-btn:hover,
.knowledge-btn:focus {
  background-color: var(--actions);
  border: none;
}

.knowledge-btn-text-one {
  color: var(--gray-color);
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.58;
}

.knowledge-btn-text-two {
  color: var(--gray-color);
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.58;
}

.knowledge-btn-text-two > a {
  color: var(--background-color);
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.58;
  letter-spacing: 0.01em;
}

/** READERS */

.readers-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 130px 0 150px 0;
}

.readers-info {
  flex-direction: column;
  padding-left: 70px;
}

.readers-title {
  color: #1b3764;
  font-family: Cardo, sans-serif;
  font-size: 42px;
  font-weight: 400;
  line-height: 1.2;
  text-transform: capitalize;
}

.readers-info-text {
  color: #969aa0;
  font-family: Inter;
  font-size: 19px;
  font-weight: 400;
  line-height: 1.8;
  width: 435px;
}

.readers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.readers-block-text {
  width: 303px;
}

.readers-block {
}
